# Dependencies
node_modules/
**/node_modules/

# Production / Build outputs
/frontend/dist/
/frontend/build/
/frontend/out/

# Environment files and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
**/.env
**/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System / OS files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
/explainations/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.md
